$primary-color: #202124;
$secondary-color: #303134;
$tertiary-color: #90acce;
$quaternaire-color: #508fdb;

$font: 'Sora';

.flexbox {
    display: flex;
    align-items: center;
}

.blockSize {
    width: 30%;
    padding: 20px;
}

.btnStyle {
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.queriesTodo {
    @media (max-width: 1150px) {
        width: 40%;
    }
    @media (max-width: 900px) {
        width: 50%;
    }
    @media (max-width: 700px) {
        width: 60%;
    }
    @media (max-width: 500px) {
        width: 100%;
       
    }
}
